{% extends "base.html" %}

{% block head %}
<h1>City Issues App</h1>
<h2>Admin dashboard</h2>
{% endblock %}



{% block body %}

    <a href="{{ url_for ('admin_users') }}">View users</a>
    {% if issues  %}
        <ul>
            {% for issue in issues %}
                <li>
                    <strong> {{ issue.title }}</strong><br>
                    {{ issue.description }} <br>
                    Status: {{ issue.status }} <br>
                    Reported by: {{ issue.user.username }} <br>

                    {% if user.is_admin and issue.status != 'Solved' %}
                        <form action="{{ url_for('solve', id=issue.id)}}" method="POST">
                            <button type="Submit"> Mark as solved</button>
                        </form>
                    {% endif %}

                    

                </li>
             
            {% endfor %}
        </ul>
      

    {% else  %}
        <p>No issues in the system.</p>
    {% endif  %}

{% endblock %}