<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    
    {% block head %} {% endblock %}
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="{{url_for('login')}}">Log in</a>
        <a href="{{url_for('register')}}">Register</a>
        
    </nav>
    <hr>

    {% block body %} 
       {% if session.get('user.id') %}
            <p>
                Logged in as {{ session ['username'] }} |
                <a href="/logout">Logout</a> |
                <a href="/create"> Report Issue</a>

                {% if session['user_id'] %}
                    <!-- simple check, better latee-->>
                     <a href="/admin">Admin</a>
                {% endif %}
            </p>


       {% endif%}
    
    
    
    {% endblock %}
</body>
</html>