{% extends "base.html" %}

{% block head %}
<h1>City Issues App</h1>
<h2>Hi {{session ['username']}}!</h2>
{% endblock %}



{% block body %}

    {% for issue in issues%}
        <div style="border:1px solid #ccc; padding: 10px; margin: 10px;">
            <h3>{{ issue.title}}</h3>
            <p>{{ issue.description}}</p>
            <p> <b>Status:</b> {{ issue.status}}</p>
            <p> <b>Created at:</b> {{ issue.created_at}}</p>
        </div>
    {% else %}
        <p>No issues reported.</p>
    {%endfor%}

    {% if issues %}
        <ul>
            {% for issue in issues %}
                <li>
                    <strong>{{ issue.title}}</strong><br>
                    {{ issue.description }}<br>
                    Status: {{ issue.status}}<br>
                    Created: {{ issue.created_at}}
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>You don't have any reported issues.</p>
    {% endif %}


{% endblock %}